.produto{
    display: flex;
    height: calc(100vh - 4.25rem);
}

.produto__foto{
    background-attachment: fixed;
    background-image: url(../img//produto-capa.png);
    background-position: -22% top;
    background-repeat: no-repeat;
    background-size: 49rem;
    height: 100%;
    width: 40%;
}

.produto__descricao{
    box-sizing: border-box;
    color: var(--gray);
    padding-top: 3rem;
    width: 60%;
}

.produto__marca{
    color: var(--light-pink);
    font-size: 11.5rem;
    font-weight: 800;
    line-height: 9rem;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
}

.produto__divisao{
    padding-left: 1rem;
    position: relative;
}

.produto__preco{
    font-size:  1.375rem;
    font-weight: 800;
    letter-spacing: 0.125rem;
    margin-bottom: 2.5rem;
}

.produto__nome{
    font-size: 1.375rem;
    font-weight: 700;
    line-height: 1.875rem;
    letter-spacing: 0.125rem;
    margin-bottom: 0.875;
    width: 31.875rem;
}

.produto__texto{
    letter-spacing: 0.125rem;
    line-height: 1.25rem;
    margin-bottom: 1rem;
    width: 31.875rem;
}

.produto__comprar{
    background-color: var(--orange);
    border: none;
    border-radius: 35px;
    bottom: 0;
    box-sizing: border-box;
    color: var(--white);
    font-family: inherit;
    font-weight: 900;
    letter-spacing: 0.25rem;
    min-width: 10.75rem;
    padding: 1.25rem 1rem;
    position: absolute;
    right: 2rem;
    text-transform: uppercase;
}